* {
    font-family: "Gill Sans", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

li {
    margin-bottom: 0.5rem;
}

.accessibilityColor {
    color: blue;
}

.buttonStyle{
    display: inline-block
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.down-triangle {
    border-style: solid;
    border-color: black transparent transparent;
    border-width: 0.5rem 0.5rem 0;
}

.elevatorHeader {
    color:blue;
    margin: 0 1rem 3rem 0;
    display: inline-block;
    font-weight: 600;
}

.floorFont {
    margin: 0rem 0rem;
    font-weight: 600;
}

.floorSelectButtons {
    border-radius: 50%;
    border: 3px solid black;
    height: 4rem;
    width: 4rem;
    margin: 0 1rem 1rem 0;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer; 
    align-self: flex-end;
}

.floorSelectButtons:hover {
    background-color:blue;
    color: white;
}

.item {
    width: 20%;
}

.debugger {
    font-size: 1.2rem;
    align-self: flex-start;
}

.margin {
    margin-bottom: 3rem;
}

.person {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

.selectFloorHeader {
    margin-bottom: 1rem;
}

.requestElevatorButton {
    padding: 0.5rem;
    margin: 0.6rem 0.5rem 0.5rem 0;
    cursor: pointer; 
}

.up-triangle {
    border-style: solid;
    border-color: transparent transparent black;
    border-width: 0 0.5rem 0.5rem;
}
