* {
    font-family: 'arial';
}

.button {
    padding: 0.5rem;
    margin: 0.1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.down-triangle {
    border-style: solid;
    border-color: black transparent transparent;
    border-width: 0.5rem 0.5rem 0;
}

.elevator {
    margin: 4rem 0rem;
}

.floor {
    margin-top: 3rem;
}

.item {
    width: 30%;
    margin-left: 20%;
}

.red {
    color:red;
}

.up-triangle {
    border-style: solid;
    border-color: transparent transparent black;
    border-width: 0 0.5rem 0.5rem;
}
